@font-face {
    font-family: "Exo2.0-Thin";
    src: url("../fonts/Exo2.0-Thin.eot") format("eot"),
    url("../fonts/Exo2.0-Thin.otf") format("otf"),
    url("../fonts/Exo2.0-Thin.ttf") format("ttf"),
        url("../fonts/Exo2.0-Thin.woff") format("woff");
    font-weight: 200;
    font-display: swap;
}
